{{ define "main" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ical.js/1.4.0/ical.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.17/index.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.17/index.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/icalendar@6.1.17/index.global.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script src="/js/render_calendar.js"></script>

{{- range first 1 (where .Data.Pages "Type" "homepage") -}}
<main class="article {{ range .Params.categories }} {{ . | urlize }} {{ end }}">
    <article id="{{ .Title | urlize }}">
        <section id="content" class="article">
            <header class="entry-header">
                <h1 class="entry-title">{{ .Title }}</h1>

                <p class="summary">{{ .Summary }}</p>
            </header>

            <div class="entry-content">
                <p class="summary">{{ .Content }}</p>
            </div>
        </section>
    </article>
</main>
{{ end }} {{ end }}
